{% extends "profile.html" %}

{% block edit_profile%}
<div class="container">
    <hr>

    <div1 class="row">
        
        <div2 class="col">
            <legend>Edit Profile</legend>

            <form method="post" action="" class="border p-4 mt-2" enctype="multipart/form-data">
                {{ form_edit_profile.csrf_token }}
                
                <fieldset>

                    <!-- Username  -->
                    <div3 class="form-group">
                        {{ form_edit_profile.username.label(class="form-control-label") }}

                        <!-- Check for invalid username -->
                        {% if form_edit_profile.username.errors %}
                            {{ form_edit_profile.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_edit_profile.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form_edit_profile.username(class="form-control") }}

                        {% endif %}
                    </div3>

                    <!-- E-mail -->
                    <div4 class="form-group">
                        {{ form_edit_profile.email.label(class="form-control-label") }}

                        <!-- Check for invalid e-mail -->
                        {% if form_edit_profile.email.errors %}
                            {{ form_edit_profile.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_edit_profile.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form_edit_profile.email(class="form-control") }}

                        {% endif %}
                    </div4>

                    <!-- Photo -->
                    <div5 class="form-group">
                        {{ form_edit_profile.photo_profile.label}}
                        {{ form_edit_profile.photo_profile(class="form-control-file") }}
                        
                        <!-- Check for error in file upload -->
                        {% if form_edit_profile.photo_profile.errors %}
                            {% for error in form_edit_profile.photo_profile.errors %}
                               <span class="text-danger"> {{ error }} </span><br>
                            {% endfor %}
                        {% endif %}
                    </div5>

                    <!-- courses list - Check Box -->
                    <hr>
                    <legend>Courses</legend>
                    {% for field in form_edit_profile %}
                        {% if 'course_' in field.name %}
                            <div class="form-group">
                                {{ field(class="form-check-input") }}
                                {{ field.label(class="form-check-label") }}
                            </div>
                        {% endif %}
                    {% endfor %}

                </fieldset>
                <!-- Button Save -->
                {{ form_edit_profile.button_save_changes(class="btn btn-primary mt-2") }}
                
            </form>

        </div2> <!--End Col--> 

    </div1> <!--End Row--> 

</div> <!--End Container-->

{% endblock %}