{% extends "base.html" %}
 
{% block body %}
<div1 class="container">

    <h1>Login or Create our Account!</h1>
    <hr>

    <div2 class="row">
        
        <!--Start LOGIN--> 
        <div3 class="col">

            <form method="post" action="" class="border p-4 mt-2">
                {{ form_login.csrf_token }}
                <legend>Login</legend>
                <fieldset>

                    <!-- e-mail -->
                    <div4 class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}

                        <!-- Check for invalid e-mail -->
                        {% if form_login.email.errors %}
                            {{ form_login.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_login.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form_login.email(class="form-control") }}

                        {% endif %}
                        
                    </div4>

                    <!-- Password -->
                    <div5 class="form-group">
                        {{ form_login.password.label(class="form-control-label") }}
                       
                        <!-- Check for invalid password -->
                        {% if form_login.password.errors %}
                            {{ form_login.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_login.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            
                        {% else %}
                            {{ form_login.password(class="form-control") }}

                        {% endif %}
                    </div5>

                    <!-- Remember Password - Check Box -->
                    <div6 class="form-group">
                        {{ form_login.remember_me.label(class="form-check-label") }}
                        {{ form_login.remember_me(class="form-check-input") }}
                    </div6>

                </fieldset>
                <!-- Button Login -->
                {{ form_login.button_submit_login(class="btn btn-primary mt-2") }}

            </form>

        </div3>
        <!--End div Login--> 
        

        <!--Start Create Account--> 
        <div7 class="col">

            <form method="post" action="" class="border p-4 mt-2">
                {{ form_createAccount.csrf_token }}
                <legend>Create Account</legend>
                <fieldset>

                    <!-- Username -->
                    <div8 class="form-group">
                        {{ form_createAccount.username.label(class="form-control-label") }}
                        
                        <!-- Check for invalid username -->
                        {% if form_createAccount.username.errors %}
                            {{ form_createAccount.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_createAccount.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            
                        {% else %}
                            {{ form_createAccount.username(class="form-control") }}

                        {% endif %}
                    </div8>

                    <!-- E-mail -->
                    <div9 class="form-group">
                        {{ form_createAccount.email.label(class="form-control-label") }}
                         
                        <!-- Check for invalid e-mail -->
                        {% if form_createAccount.email.errors %}
                        {{ form_createAccount.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_createAccount.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                         
                        {% else %}
                            {{ form_createAccount.email(class="form-control") }}

                        {% endif %}
                    </div9>

                    <!-- Password -->
                    <div10 class="form-group">
                        {{ form_createAccount.password.label(class="form-control-label") }}
                                                     
                        <!-- Check for invalid password -->
                        {% if form_createAccount.password.errors %}
                        {{ form_createAccount.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_createAccount.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                            
                        {% else %}
                            {{ form_createAccount.password(class="form-control") }}

                        {% endif %}
                    </div10>

                    <!-- Confirm Password -->
                    <div11 class="form-group">
                        {{ form_createAccount.confirmation.label(class="form-control-label") }}
                        
                        <!-- Check for invalid password confirmation-->
                        {% if form_createAccount.confirmation.errors %}
                        {{ form_createAccount.confirmation(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_createAccount.confirmation.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                         
                        {% else %}
                            {{ form_createAccount.confirmation(class="form-control") }}

                        {% endif %}
                    </div11>

                </fieldset>
                <!-- Button Create Account -->
                {{ form_createAccount.button_submit_create_account(class="btn btn-primary mt-2") }}

            </form>

        </div7> <!--End Div Create Account--> 

    </div2> <!--End Row--> 

</div1> <!--End Container--> 
{% endblock %}